# Ignore all node_modules anywhere
**/node_modules/

# Ignore all .env files anywhere
**/.env
**/.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / output folders
dist/
build/

# Others (adjust as per your project)
coverage/
*.local

# Optional: lock files if you don’t want to track them
**/package-lock.json
**/yarn.lock

# Ignore AWS SAM build artifacts
.aws-sam/
**/lambda.zip/**



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
