# AWS Configuration
aws_region = "ap-south-1"

# GitHub Configuration
github_owner = "your-github-username"
github_repo  = "aws-portfolio"
github_token = "your-github-token"

# Grafana Configuration (Grafana Cloud - free tier)
grafana_url   = "https://your-org.grafana.net"
grafana_auth  = "your-grafana-api-key"
aws_role_arn  = "arn:aws:iam::YOUR-ACCOUNT-ID:role/GrafanaLabsCloudWatchIntegration"