region                 = "us-east-1"
cluster_name           = "monitoring-stack-eks"
vpc_cidr               = "10.0.0.0/16"
kubernetes_version     = "1.29"
node_instance_type     = "t3.medium"
grafana_admin_password = "securepassword123"
