github_deploy_user_arn = "arn:aws:iam::YOUR_ACCOUNT_ID:user/github-deploy-user"

cloudflare_api_token = "YOUR_CLOUDFLARE_API_TOKEN_HERE"

cloudflare_zone_id = "YOUR_CLOUDFLARE_ZONE_ID_HERE"
subdomain          = "porfolio"

project_owner = "omesh"